<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GOOD HYDRATIONS</title>
</head>
<body>
    <h1>PLANTS</h1>
    <!-- TODO: map each plant to ul and each log to li -->
    {% if plant %}
        <h3>{{ plant }}</h3>
        <div><a href="/plants/" + plant>{{ plant }}</a></div>
            <ul>
            {% for log in logs %}
                <li>{{ log }}</li>
            {% endfor %}
            </ul>
    {% else %}
        {% for plant, logs in plants.items() %}
            <ul>
                <div><a href="/plants/" + plant>{{ plant }}</a></div>
                {% for log in logs %}
                    <li>{{ log }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif%}
</body>
</html>
